<!DOCTYPE html>
<!--
*****************************************************************************
Title:  Template 

Use:  Template

Author: Jordan Hayden

School/Term:  University of Missouri, Spring 22'

Developed: , 2022

Tested:  , 2022; Passed on Safari and Chrome browsers.
*****************************************************************************
-->
<html lang="en-US">
<head>
               <meta charset="utf-8">
               <title>Page Title</title>
</head>
<body>
    <header>
        <h1>Heading</h1>
    </header>
    <nav></nav>
    <main>
        
    </main>
    <footer>
        <p>Name: Jordan Hayden</p>
        <p>Email: jmhhyf@umsystem.edu</p>
        <p>© 2022 Jordan Hayden</p>
    </footer>
</body>
</html>