nav {
    top: 0px;
    width: 100%;  
    /* height: 30px; */
    display: inline-block; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative; 
    text-align: center;
    font-weight: bold;
    color: black;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border: 3px solid black;
    padding: 15px 15px;
    width: 100px; 
    /* height: 20px; */
    margin: 2px;
}


nav a:link{
    background-color: white;
}
nav a:hover, nav a:focus {
    background-color: gray;
}
nav a:active{
    background-color: darkgray;
    color: white;
}


nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}


nav>ul>li:hover>ul{
    display: block;
}


ul.dropdown li a{
    text-decoration: none;
    display: inline-block;
    border: 3px solid black;
    padding: 15px 15px;
    width: 100px; 
    /* height: 20px; */
    margin: 2px;
}


ul.dropdown li a:hover{
    background-color: gray;
}


nav>ul li a, nav>li ul.dropdown li a{
    color: black;
    font-family: Arial;
}
/* ul {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

nav ul li {
    margin: 5px;
    padding: 5px 5px;
    border: 1px solid brown;
    display: inline-block;
    text-decoration: none;
}

ul.dropdown li {
    display: hidden;
}

ul.dropdown:hover {
    display: block;
}
nav ul li ul li {

} */

