
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1 {
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#hh1 {
    color: #2196f3;
    font-size: 50px;
    text-align: center;
}



div#wrapper {
    margin: 20px 20px;
    padding: 20px 100px;
    max-width: 1600px;
}

div#firstP::first-letter {
    color: #2196f3;
    font-size: 35px;
}

div.P {
    font-size: 25px;
    line-height: 200%;
    justify-content: center;
    text-align: center;
}
div#firstP{
    font-size: 25px;
    line-height: 200%;
    justify-content: center;
    text-align: center;
}

div.pContainer{
    margin: 5px;
    padding: 0px 40px;
    max-width: 1200px;
    text-indent: 1cm;
}

div.eduContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 0px 40px;
    max-width: 1200px;
    justify-content: center;
}

div.backgroundCont{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 0px 40px;
    max-width: 1200px;
    justify-content: center;
}

div.eduContainer ul{
    display: block;
    float: Left;
    font-size: 25px;
    max-width: 200px;
}

div.eduContainer ul.eduUL{
    font-size: 25px;
    max-width: 430px;
    justify-content: center;
}

p#listHead{
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 0;
}

blockquote{
    display:block;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}

h3#aboutMe{
    font-size: 40px;
    margin-left: 35px;
}

main.aboutMain{
    margin: 2px;
    padding: 5px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
main.homeMain{
    margin: 2px;
    padding: 5px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

main.aboutMain p>em>strong{
    margin: 2px;
    padding: 5px;
}
main.homeMain p{
    margin: 2px;
    padding: 5px;
}

/* start of footer */
footer{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 58px;
    border-top: 2px solid black;
    background-color: gray;
    color: #f0f0f0;

    background-image: url("/Images/blueGrayFoot.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer p, div#phoneFoot, div#emailFoot{
    margin: 5px;
    padding: 4px 4px;
    align-items: center;
    font-size: 20px;
    display: flex;
    text-shadow: 2px 1px #000;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
}
div#phoneFoot img, div#emailFoot img{
    height: 49px;
    width: 50px;
}
div#phoneFoot img:hover, div#emailFoot img:hover{
    transform: scale(1.2, 1.2);
}

div#phoneFoot p, div#emailFoot p{
    height: 50px;
    /* width: 50px; */
}
/* end of footer */


img.picofme {
    width: 300px;
    height: 300px;
}

a img#resume{
    width: 300px;
    height: 300px;
}

p{
    font-size: 25px;
}

h2#homeStatement{
    font-size: 25px;
    padding: 0px 20px;
    max-width: 600px;
}
main.homeMain img{
    width: 200px;
    height: 200px;
    margin: 20px;
}
main.homeMain p{
    padding: 10px 15px;
    margin-top: 25px;
}


.bgImage{
    background: url("mizzouheader.jpeg") no-repeat center;
    min-height: 35vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: -1;
    opacity: 45%;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
}


/* Projects Page */

main.projMain{
    width: 90%;
    position: relative;
    margin: 100px auto;
    margin-top: 50px;
    /* margin-bottom: 80px; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Hammersmith One', sans-serif;
}

.cardContainer{
    width: 450px;
    background-color: white;
    border-width: 2px;
    border: 2px solid black;
    border-radius: 10px;
    height: 510px;
    position: relative;
    margin: 5% auto;
    box-shadow: 10px 10px 10px;
    
}
img.cardPic{
    width: 100.4%;
    border-bottom: 10px solid black;
    height: 56%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
/* div.hoverUp{
    background-color: white;
    width: 100.4%;
    border-bottom: 10px solid black;
    height: 56%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    display: hidden;
} */
.cardContainer, span{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
main.projMain p{
    font-size: 17px;
    margin: 10px 10px;
}
.link{
    font-size: 22px;
    font-weight: bold;
    color: #2196f3;
}
h1#projh1{
    margin-top: 70px;
}

@media (max-width: 800px){
    p{
        font-size: 20px;
    }

    img.picofme, a img#resume{
        width: 200px;
        height: 200px;
    }
    h2#homeStatement{
        font-size: 20px;
        margin: 0;
        padding: 10px 15px;
    }
    main.homeMain p{
        padding: 10px 15px;
    }
    main.homeMain img{
        width: 170px;
        height: 170px;
    }
    .bgImage{
        background: url("mizzouheader.jpeg");
        min-height: 27vh;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 9;
        border: 2px solid black;
        opacity: 45%;
    }
    h1#hh1{
        font-size: 40px;
    }
    div#wrapper {
        margin: 20px 20px;
        padding: 20px 65px;
        max-width: 1200px;
    }
    div.P {
        font-size: 20px;
    }
    div#firstP{
        font-size: 20px;
    }
    div.pContainer{
        font-size: 20px;
    }
    div.eduContainer ul, div.eduContainer ul.eduUL{
        font-size: 15px;
    }
    main.projMain p{
        font-size: 17px;
    }
    blockquote{
        font-size: 17px;
    }
    p#listHead{
        font-size: 25px;
    }
}

@media (max-width: 600px){
    p{
        font-size: 15px;
    }

    img.picofme, a img#resume{
        width: 150px;
        height: 150px;
    }

    h2#homeStatement{
        font-size: 15px;
        margin: 0;
        padding: 5px 10px;
    }
    main.homeMain p{
        padding: 5px 10px;
    }
    main.homeMain img{
        width: 150px;
        height: 150px;
    }
    .bgImage{
        background: url("mizzouheader.jpeg");
        min-height: 20vh;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 9;
        border: 2px solid black;
        opacity: 45%;
        display: flex;
    }
    h1#hh1{
        font-size: 30px;
    }
    div#wrapper {
        margin: 20px 20px;
        padding: 20px 30px;
        max-width: 1200px;
    }
    div.P {
        font-size: 16px;
    }
    div#firstP{
        font-size: 16px;
    }
    div.pContainer{
        font-size: 15px;
    }
    div.eduContainer ul, div.eduContainer ul.eduUL{
        font-size: 15px;
    }
    blockquote{
        font-size: 15px;
    }
    p#listHead{
        font-size: 20px;
    }
}

@media print{
    body{
        background: transparent !important;
        color: #000 !important;
        margin: 1in;
    }
    header,
    footer,
    img#resume {
        display: none;
    }
    h3#aboutMe{
        font-size: 20pt;
        margin: 5pt 35pt 5pt 35pt;
    }
    .pContainer, .eduContainer, .eduContainer ul{
        font-family: serif;
        font-size: 40pt;
    }
    h1{
        margin-top: 30pt;
    }
    blockquote{
        font-size: 15pt;
        justify-content: center;
    }
    img.picofme{
        margin-left: 30pt;
        width: 100pt;
        height: 100pt;
        justify-content: center;
    }
    /* footer img{

    } */

}



/* @media (max-width: 800px){
    p{
        font-size: 20px;
    }

    img.picofme, a img#resume{
        width: 200px;
        height: 200px;
    }
} */